[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://github.com/rise-worlds/appbase.git
[submodule "libraries/fc"]
	path = libraries/fc
	url = https://github.com/rise-worlds/fc-1.git
[submodule "libraries/wabt"]
	path = libraries/wabt
	url = https://github.com/WebAssembly/wabt
[submodule "libraries/eos-vm"]
	path = libraries/eos-vm
	url = https://github.com/rise-worlds/eos-vm
