[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://github.com/rise-worlds/appbase.git
[submodule "libraries/fc"]
	path = libraries/fc
	url = https://github.com/rise-worlds/fc-1.git
[submodule "libraries/eos-vm"]
	path = libraries/eos-vm
	url = https://github.com/rise-worlds/eos-vm
[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = https://github.com/eosio/berkeley-softfloat-3
